@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
     <h1 class="display-4">MOVIE APP</h1>
    <p><a asp-area="" asp-controller="Movies" asp-action="">Explore</a></p>
</div>
